
<form action="/show" method="post">
  search_by_id: <input type="text" name= "id" />
  search_by_author: <input type="text" name= "author" />
  <input type="submit" value="Search" />
</form>
<h2> <a href="/add">Add</a> <a href="/delete">Delete</a> </h2>
<h2> <%= $blog_a %> </h2>
<h2> <%= $b_search %> </h2>
