<%= @msg  %>
<form action='/login' method="get">
  Name: <input type="text" name="username" />
  Password: <input type="password" name="pwd" />
  <input type="submit" value="Log in" />
</form>
<a href="/signup">Sign Up</a>
